# Docker
.env
.dockerignore
.env.production

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

# Database
*.sqlite3

# Logs
*.log

# IDE
.vscode/
.idea/

# Media files
media/
staticfiles/
.env.production
