DEBUG=False
SECRET_KEY=your-very-secret-key-change-this-in-production
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0,46.17.102.12

DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=27784112
DB_HOST=db
DB_PORT=5432

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend